$fontPage: 'Graphik';

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
  
/* HTML5 display-role reset for older browsers */
  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
  
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote {
    &:before, &:after {
        content: '';
        content: none;
    }
}
q {
    &:before, &:after {
      content: '';
      content: none;
    }
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
    font-family: $fontPage;
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 3px;
        background-color: #fff;
    }
    &::-webkit-scrollbar {
        width: 3px;
        background-color: #fff;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        box-shadow: inset 0 0 3px rgba(0,0,0,.1);
        background-color: #000000;
    }
}
:root {
    --app-height: 100%;
}
html,
body {
    width: 100vw;
    height: 100vh;
    height: var(--app-height);
    font-family: $fontPage;
    background: #B8B6B6;
}
.page-wrapper {
    max-width: 450px;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
    position: relative;
    overflow: hidden;
    .page-inner {
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
    .top-panel {
        background: #000000;
        padding: 5px 8px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .logo {
            max-width: 80px;
            img {
                width: 100%;
            }
        }
    }
    .survey-content {
        height: calc(100% - 40px);
    }
    .thanks2-content {
        height: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-left: 17px;
        padding-right: 17px;
        .thanks-pink {
            max-width: 300px;
            margin: auto;
            background: #EB0079;
            padding: 13px 22px;
            margin-top: 50px;
            margin-bottom: 15px;
            .text {
                font-family: $fontPage;
                font-weight: 400;
                font-size: 14px;
                line-height: 15px;
                text-align: center;
                color: #FFFFFF;
                &:first-child {
                    position: relative;
                    padding-top: 40px;
                    padding-left: 5px;
                    padding-right: 5px;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        right: 0px;
                        height: 60px;
                        border: 2px solid #FFFAFA;
                        border-bottom: none;
                    }
                }
                &:last-child {
                    position: relative;
                    padding-bottom: 30px;
                    padding-left: 5px;
                    padding-right: 5px;
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        right: 0px;
                        height: 60px;
                        border: 2px solid #FFFAFA;
                        border-top: none;
                    }
                }
            }
            .big-text {
                padding-top: 40px;
                padding-bottom: 30px;
                font-family: $fontPage;
                font-weight: 400;
                font-size: 19px;
                line-height: 22px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;

            }
        }
        .images-wrp {
            padding: 17px 0px;
            max-width: 350px;
            margin: auto;
            .img-item {
                width: 100%;
                padding-bottom: 35px;
                img {
                    width: 100%;
                }

            }
        }
    }
    .thanks-content {
        height: calc(100% - 40px);
        display: flex;
        align-items: center;
        justify-content: center;
        .thanks-block {
            max-width: 340px;
            padding-left: 10px;
            padding-right: 10px;
            .picture {
                max-width: 72px;
                margin: auto;
                .icon-like {
                    width: 100%;
                    height: 72px;
                    background: url(./../img/icon-like.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                img {
                    width: 100%;
                }
            }
            .text {
                padding-top: 40px;
                font-family: $fontPage;
                font-weight: 500;
                font-size: 18px;
                line-height: 31px;
                text-align: center;
                text-transform: uppercase;
                background: -webkit-linear-gradient(#FF593E, #A40094);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .small-text {
                font-family: $fontPage;
                font-size: 12px;
                line-height: 22px;
                text-align: center;
                color: #000000;
            }
        }
    }
    .first-question {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        height: calc(100% - 40px);
        form {
            width: 100%;
            height: 100%;
        }
        &::before {
            content: "";
            width: 50%;
            height: 351px;
            background: url(./../img/circle-bg.svg);
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 15px;
            left: -20px;
            z-index: 1;
        }
        .first-question-content {
            padding-top: 140px;
            position: relative;
            z-index: 50;
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .question {
            font-family: $fontPage;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #000000;
            font-weight: 500;
            max-width: 365px;
            margin: auto;
            .pink {
                color: #FF0067;
            }
        }
        .range-container {
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            padding-top: 80px;
        }
        .range10 {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            width: 100%;
            input[type='radio']:checked + label .range-number {
                color: #fff;
            }
            input[type='radio']:checked + label .color1 {
                background-color: #BA1417;
            }
            input[type='radio']:checked + label .color2 {
                background-color: #CD0800;
            }
            input[type='radio']:checked + label .color3 {
                background-color: #F40200;
            }
            input[type='radio']:checked + label .color4 {
                background-color: #FF4A05;
            }
            input[type='radio']:checked + label .color5 {
                background-color: #FF7500;
            }
            input[type='radio']:checked + label .color6 {
                background-color: #FFA400;
            }
            input[type='radio']:checked + label .color7 {
                background-color: #E7F600;
            }
            input[type='radio']:checked + label .color8{
                background-color: #00E355;
            }
            input[type='radio']:checked + label .color9 {
                background-color: #00D086;
            }
            input[type='radio']:checked + label .color10 {
                background-color: #00AB23;
            }
            input[type='radio']:checked + label .color11 {
                background-color: #008811;
            }
            input[type='radio'] {
                opacity: 0;
                display: none;
            }
            label {
                cursor: pointer;
                .range-number {
                    width: 26px;
                    height: 26px;
                    font-family: $fontPage;
                    font-size: 11px;
                    line-height: 25px;
                    color: #483D3D;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 2px;
                    border-radius: 50%;
                    transition: background 0.3s ease-in;
                }
                .color1 {
                    border: 1px solid #BA1417;
                }
                .color2 {
                    border: 1px solid #CD0800;
                }
                .color3{
                    border: 1px solid #F40200;
                }
                .color4{
                    border: 1px solid #FF4A05;
                }
                .color5{
                    border: 1px solid #FF7500;
                }
                .color6{
                    border: 1px solid #FFA400;
                }
                .color7{
                    border: 1px solid #E7F600;
                }
                .color8{
                    border: 1px solid #00E355;
                }
                .color9{
                    border: 1px solid #00D086;
                }
                .color10{
                    border: 1px solid #00AB23;
                }
                .color11{
                    border: 1px solid #008811;
                }
            }
        }
        .bottom-text {
            padding-top: 10px;
            font-family: $fontPage;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #000000;
            max-width: 380px;
            width: 100%;
            margin: auto;
            min-height: 80px;
            .text-to-range {
                display: none;
            }
            p {
                font-size: 16px;
                line-height: 22px;
            }
        }
        .comment-wrap {
            padding-top: 30px;
            width: 100%;
            pointer-events: all;
            opacity: 1;
            transition: opacity 0.3s ease-in;
            &.hidden {
                pointer-events: none;
                opacity: 0;
            }
            textarea {
                outline: none;
                border: none;
                width: 100%;
                padding: 5px 0px;
                font-family: $fontPage;
                font-size: 12px;
                line-height: 17px;
                border-bottom: 1px solid #C4C4C4;
                resize: none;
                &::placeholder {
                    color: #9E9E9E;
                    font-size: 10px;
                }
            }
        }
        .btn-wrap {
            padding-top: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 30px;
            width: 100%;
            pointer-events: all;
            opacity: 1;
            transition: opacity 0.3s ease-in;
            &.hidden-btn {
                opacity: 0;
                pointer-events: none;
            }
            .btn-submit {
                outline: none;
                cursor: pointer;
                border: 1px solid #000000;
                border-radius: 5px;
                font-family: $fontPage;
                font-size: 15px;
                line-height: 18px;
                color: #404040;
                padding: 10px 50px;
                width: 100%;
                max-width: 220px;
                text-align: center;
                background: #fff;
            }
        }
    }
    .phone-img {
        position: absolute;
        width: 230px;
        top: 0px;
        right: 0px;
        z-index: 100;
        max-width: 60%;
        img {
            width: 100%;
        }
    }
    .purple-container {
        min-height: calc(100% - 40px);
        background: #3B233F;
        padding: 30px;
        .text-block {
            font-family: $fontPage;
            font-weight: 500;
            font-size: 20px;
            line-height: 43px;
            text-transform: uppercase;
            color: #FFFFFF;
            max-width: 175px;
            padding-top: 120px;
            .green {
                color: #00AF8F;
            }
        }
        .btns-wrap {
            padding-top: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .btn-default {
                color: #FFFFFF;
                border-color: #FFFFFF;
                background: transparent;
                &:last-child {
                    margin-top: 20px;
                }
            }
        }
    }
    .slider-wrap {
        max-width: 100%;
        overflow: hidden;
        height: 100%;
        .slider-content {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: calc(100% + 340px);
            transition: transform 0.3s ease-in;
            height: 100%;
            form {
                width: 100%;
            }
            .questions-list {
                pointer-events: none;
            }
            .owl-height {
                height: auto !important;
            }
            &.show-slider {
                transform: translateX(-340px);
                .questions-list {
                    pointer-events: all;
                }
                .slider-block {
                    .bottom-text {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }
        }
        .before-slider {
            width: 340px;
            min-width: 340px;
            padding-top: 160px;
            padding-left: 23px;
            padding-right: 15px;
            max-height: 100%;
            overflow: auto;
            .slide-text {
                font-family: $fontPage;
                font-weight: 500;
                font-size: 20px;
                line-height: 43px;
                text-transform: uppercase;
                color: #3C3C3C;
                max-width: 175px;
                .green {
                    color: #00AF8F;
                }
            }
            .btns-wrap {
                padding-top: 70px;
                .btn-default {
                    &:last-child {
                        margin-top: 20px;
                    }
                }
            }
        }
        .slider-block {
            width: calc(100% - 340px);
            min-width: calc(100% - 340px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            min-height: 100%;
            max-height: 100%;
            overflow: auto;
            .bottom-text {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 20px;
                width: 100%;
                opacity: 0;
                transition: opacity 0.3s ease-in;
                pointer-events: none;
                .slider-position {
                    font-family: $fontPage;
                    font-weight: 500;
                    font-size: 8px;
                    line-height: 14px;
                    text-transform: uppercase;
                    color: #000000;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-start;
                    .current {
                        font-size: 15px;
                        line-height: 17px;
                    }
                }
                .next-question {
                    font-family: $fontPage;
                    font-weight: 500;
                    font-size: 8px;
                    line-height: 17px;
                    text-transform: uppercase;
                    color: #000000;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    cursor: pointer;
                    &::after {
                        content: "";
                        height: 17px;
                        width: 23px;
                        background: url(./../img/black-arrow.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        display: block;
                        margin-left: 10px;
                    }
                }
            }
        }
        .questions-list {
            width: 100%;
            padding-top: 30px;
            .owl-stage {
                display: flex;
                align-items: stretch;
            }
            .question-wrap {
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 50px;
                height: 100%;
                .question-box {
                    background: #FFFFFF;
                    box-shadow: 0px 5px 16px 8px rgba(0, 0, 0, 0.05);
                    min-height: 100%;
                }
                .pic-wrap {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .question {
                    font-family: $fontPage;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                    padding-top: 60px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .descr-question {
                    font-family: $fontPage;
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 17px;
                    color: #5E5E5E;
                    padding-top: 15px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .comment-wrap {
                    padding-top: 50px;
                    width: 100%;
                    padding-left: 15px;
                    padding-right: 15px;
                    textarea {
                        outline: none;
                        border: none;
                        width: 100%;
                        padding: 5px 0px;
                        font-family: $fontPage;
                        font-size: 12px;
                        line-height: 17px;
                        border-bottom: 1px solid #C4C4C4;
                        resize: none;
                        &::placeholder {
                            color: #9E9E9E;
                            font-size: 10px;
                        }
                    }
                }
                .btn-wrap {
                    padding-left: 15px;
                    padding-right: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 60px;
                    padding-bottom: 40px;
                }
                .answer-list {
                    padding-top: 20px;
                    padding-left: 15px;
                    padding-right: 15px;
                    .asnwer-item {
                        padding-bottom: 15px;
                        input[type=radio] {
                            display: none;
                            &:checked {
                                & ~ label {
                                    .check {
                                        &::before {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                        label {
                            display: flex;
                            align-items: stretch;
                            justify-content: flex-start;
                            font-family: $fontPage;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 17px;
                            color: #666262;
                            font-weight: 400;
                            .text {
                                display: flex;
                                align-items: center;
                            }
                            .check {
                                width: 20px;
                                min-width: 20px;
                                margin-right: 10px;
                                height: 20px;
                                border: 1px solid #C7C7C7;
                                border-radius: 50%;
                                position: relative;
                                margin-top: -2px;
                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    width: 8px;
                                    height: 8px;
                                    background: #FF0084;
                                    border-radius: 50%;
                                    opacity: 0;
                                    transition: opacity 0.3s ease-in;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-default {
        display: inline-block;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        min-width: 225px;
        text-align: center;
        border: 1px solid #000000;
        border-radius: 5px;
        font-family: $fontPage;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #404040;
        padding: 10px 20px;
        background: #fff;
    }
}
@media screen and (max-width: 420px) {
    .page-wrapper {
        .slider-wrap {
            .slider-content {
                width: calc(100% + 300px);
                &.show-slider {
                    transform: translateX(-300px);
                }
            }
            .before-slider {
                width: 300px;
                min-width: 300px;
            }
            .slider-block {
                width: calc(100% - 300px);
            }
        }
    }
}
@media screen and (max-width: 380px) {
    .page-wrapper {
        .slider-wrap {
            .slider-content {
                width: calc(100% + 260px);
                &.show-slider {
                    transform: translateX(-260px);
                }
            }
            .before-slider {
                width: 260px;
                min-width: 260px;
            }
            .slider-block {
                width: calc(100% - 260px);
            }
        }
    }
}
@media screen and (max-width: 340px) {
    .page-wrapper {
        .slider-wrap {
            .slider-content {
                width: calc(100% + 240px);
                &.show-slider {
                    transform: translateX(-240px);
                }
            }
            .before-slider {
                width: 240px;
                min-width: 240px;
                .btn-default {
                    min-width: 200px;
                }
            }
            .slider-block {
                width: calc(100% - 240px);
            }
        }
        .purple-container {
            padding: 20px;
            .text-block {
                max-width: 50%;
                font-size: 16px;
                line-height: 38px;
            }
        }
    }
}
@media screen and (max-height: 750px) {
    .page-wrapper {
        .thanks2-content {
            .images-wrp {
                .img-item {
                    padding-bottom: 20px;
                    max-width: 300px;
                    margin: auto;
                }
            }
        }
    }
}
@media screen and (max-height: 700px) {
    .page-wrapper {
        .thanks2-content {
            .thanks-pink {
                margin-top: 30px;
                .text {
                    &:first-child {
                        padding-top: 30px;
                    }
                    &:last-child {
                        padding-bottom: 20px;
                    }
                }
            }
            .images-wrp {
                .img-item {
                    padding-bottom: 20px;
                    max-width: 300px;
                    margin: auto;
                }
            }
        }
    }
}
@media screen and (max-height: 650px) {
    .page-wrapper {
        .thanks2-content {
            .thanks-pink {
                margin-top: 20px;
                .text {
                    &:first-child {
                        padding-top: 20px;
                    }
                    &:last-child {
                        padding-bottom: 20px;
                    }
                }
                .big-text {
                    padding-top: 30px;
                    padding-bottom: 20px;
                }
            }
            .images-wrp {
                .img-item {
                    padding-bottom: 15px;
                }
            }
        }
    }
}
@media screen and (max-height: 600px) {
    .page-wrapper {
        .thanks2-content {
            .thanks-pink {
                margin-top: 20px;
                padding-left: 15px;
                padding-right: 15px;
                .text {
                    &:first-child {
                        padding-top: 20px;
                    }
                    &:last-child {
                        padding-bottom: 20px;
                    }
                }
                .big-text {
                    padding-top: 25px;
                    padding-bottom: 15px;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .images-wrp {
                .img-item {
                    padding-bottom: 10px;
                }
            }
        }
    }  
}
.height750 {
    .page-wrapper {
        .first-question {
            .first-question-content {
                padding-top: 100px;
            }
        }
        .slider-wrap {
            .questions-list {
                .question-wrap {
                    padding-bottom: 30px;
                    .question {
                        padding-top: 40px;
                    }
                }
            }
        }
    }
}
.height700 {
    .page-wrapper {
        .first-question {
            .first-question-content {
                padding-top: 60px;
            }
            .range-container {
                padding-top: 50px;
            }
        }
        .slider-wrap {
            .before-slider {
                padding-top: 100px;
                .btns-wrap {
                    padding-top: 40px;
                }
            }
            .questions-list {
                .question-wrap {
                    padding-bottom: 20px;
                    .question {
                        padding-top: 20px;
                    }
                    .answer-list {
                        .asnwer-item {
                            padding-bottom: 10px;
                            label {
                                line-height: 15px;
                            }
                        }
                    }
                }
            }
            .slider-block {
                .bottom-text {
                    padding-bottom: 10px;
                }
            }
        }
        .purple-container {
            .text-block {
                padding-top: 80px;
            }
            .btns-wrap {
                padding-top: 50px;
            }
        }
    }
}
.height650 {
    .page-wrapper {
        .first-question {
            .first-question-content {
                padding-top: 50px;
            }
            .range-container {
                padding-top: 40px;
            }
        }
        .slider-wrap {
            .before-slider {
                padding-top: 70px;
                .btns-wrap {
                    padding-top: 30px;
                }
                .slide-text {
                    font-size: 18px;
                    line-height: 38px;
                }
            }
            .questions-list {
                .question-wrap {
                    .comment-wrap {
                        padding-top: 25px;
                    }
                    .btn-wrap {
                        padding-top: 25px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}
.height600 {
    .page-wrapper {
        .first-question {
            .first-question-content {
                padding-top: 40px;
            }
            .range-container {
                padding-top: 30px;
            }
            .question {
                font-size: 18px;
                line-height: 24px;
            }
        }
        .purple-container {
            .text-block {
                padding-top: 40px;
            }
            .btns-wrap {
                padding-top: 30px;
            }
        }
    }
}